[submodule "submodules/jnipp"]
	path = submodules/jnipp
	url = git@github.com:FrankStain/jnipp.git
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
